
# Acl component.
services:

	- Component\Acl\Entity\Roles
	- Component\Acl\Entity\Resources
	- Component\Acl\Entity\Privileges
	- Component\Acl\Entity\Permissions

	- Component\Acl\Repository\Roles
	- Component\Acl\Repository\Resources
	- Component\Acl\Repository\Privileges
	- Component\Acl\Repository\Permissions

	- Component\Acl\Control\Roles
	- Component\Acl\Control\Resources
	- Component\Acl\Control\Privileges
	- Component\Acl\Control\Permissions

	# Cache settings.
	cache.acl:
		class: Nette\Caching\Cache
		arguments: [@Nette\Caching\IStorage, 'Drago.AclCache']

	# Cache for acl.
	- Drago\Caching\Caches(@cache.acl)

	# Registration authorizator.
	acl: Component\Acl\Authorizator
	app.authorizator: @acl::create
