
# Acl component.
services:

	- Component\Acl\Entity\Roles
	- Component\Acl\Entity\Resources
	- Component\Acl\Entity\Privileges
	- Component\Acl\Entity\Permissions

	- Component\Acl\Repository\Roles
	- Component\Acl\Repository\Resources
	- Component\Acl\Repository\Privileges
	- Component\Acl\Repository\Permissions

	- Component\Acl\Control\Roles
	- Component\Acl\Control\Resources
	- Component\Acl\Control\Privileges
	- Component\Acl\Control\Permissions

	# Cache settings.
	cache.acl: Nette\Caching\Cache
	cache.acl.app: {class: Nette\Caching\Cache, arguments: [@Nette\Caching\IStorage, 'Acl.Cache'], autowired: no}

	# Registration authorizator.
	acl: Component\Acl\Authorizator(@cache.acl.app)
	app.authorizator: @acl::create
